<section id="header" class="jumbotron text-center">
  <h1 class="display-3">Create a new worker</h1>
</section>

<div class="container">
  <form [formGroup]="workerForm" class="form-signin mt-xl-5" method="post">

    <p>
      <label for="username" class="sr-only">Username</label>
      <input formControlName="username" type="text" id="username" name="username" class="form-control"
             placeholder="Username" required=""
             autofocus="">
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input formControlName="password" type="password" id="password" name="password" class="form-control"
             placeholder="Password"
             required="">
    </p>

    <p>
      <label for="role" class="sr-only">Role</label>
      <select name="role" id="role" formControlName="role" class="form-control">
        <option value="0">WORKER</option>
        <option value="1">OWNER</option>
      </select>
    </p>


  </form>
    <button [routerLink]="'/home'" id="submit" class="btn btn-lg btn-primary btn-block" type="submit" (click)="registerUser()">Submit Form</button>
<!--  <a href="/register" class="btn btn-block btn-light">Submit Form</a>-->

</div>
