<br>
<div class="container-fluid">
  <div class="row">

    <ng-container *ngIf="item.type!=itemType">
      <div class="col-2">
        <p class="lead" [textContent]="item.name"></p>
      </div>
      <div class="col-2">
        <p class="lead" [textContent]="item.price.amount"></p>
      </div>
      <div class="col-1">
        <p class="lead" [textContent]="item.price.currency"></p>
      </div>
      <div class="col-1">
        <p class="lead" [textContent]="count"></p>
      </div>
    </ng-container>
    <ng-container *ngIf="item.type==itemType">
      <div class="col-2" *ngIf="item.type==itemType">
        <p class="lead" [textContent]="item.name"></p>
      </div>
    </ng-container>
    <div class="col-1">
      <button class="btn btn-secondary" (click)="addItem(item,count)">-</button>
    </div>
    <div class="col-1" *ngIf="item.type!=itemType">
      <button class="btn btn-primary" (click)="removeItem(item.price.amount)">+</button>
    </div>
    <div class="col-4" *ngIf="item.type!=itemType">
      <button class="btn btn-danger" (click)="removeAllOfItem(item)">Избрши се</button>
    </div>
  </div>
</div>
